<!DOCTYPE html>
<div class="background">
    <div class="greeting">
        <p class="message">Hello, I'm Erik!</p>
        <br>
        <h2 class="message">Software Engineer  |  Web Developer  |  Mobile Developer</h2>
        <div class="links">
            <button class="button" (click)="goToAbout()">About</button>
            <button class="button" (click)="goToProjects()">Projects</button>
            <button class="button" (click)="goToContact()">Contact</button>
        </div>
    </div>
</div>