.overall-container {
    display: flex;
    column-gap: 100px;
}

.projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    box-sizing: content-box;
}

.navbar {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position:fixed;
    width:100%;
    z-index: 1;
}

.nav-name {
    float: left;
    padding: 20px;
}

.nav-link {
    float: right;
    padding: 20px;
    background-color: white;
    border: none;
    color: black;
    padding: 20px;
}

.project-tiles {
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    max-width: 30%;
    margin: 20px;
    background-color: rgb(0, 153, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-description {
    text-align: center;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
}

.tile-links {
    padding-left: 10px;
    padding-right: 10px;
}